.home__banner {
  font-size: 3rem !important;
  @media screen and (min-width: 576px) {
    font-size: 4rem !important;
  }
  @media screen and (min-width: 992px) {
    font-size: 6rem !important;
  }
}
